/*________________________________________________ Fonts / Design unten (banner) __________________________________*/
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    font-size: 30px;
}

p {
    font-size: 19px;
    color: #666;
    margin-bottom: 5px;
}

p em {
    font-style: italic;
    font-size: 14px;
}

.copyright-banner {
    width: 100%;
    background-color: #cfcfcf;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    box-shadow: 0 20px 0px rgba(0, 0, 0, 0.4);
}


/*________________________________________________ Inhalt _________________________________________*/

.container {
    /* Hauptcontainer */
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-radius: 35px;
    width: 80%;
    max-width: 1300px;
    min-height: 500px;
    min-width: 240px;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

.grid-container {
    /* Tabelle - Spacing fuer .button */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Immer 4 Spalten */
    gap: 10px;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.13);
}

/* Für Smartphones und kleine Bildschirme */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 Spalten auf mobilen Geräten */
    }
}

.button {
    /* interactive elemente */
    position: relative;
    display: block; /* Um an .container anzupassen */
    background-color: #ddd;
    border-radius: 15px;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.25s ease, box-shadow 0.2s ease;
    width: auto;
    height: auto;
    min-height: 65px;
    min-width: 100px;
    overflow: hidden; /* Text wird abgeschnitten */
}

.button:hover {
    /* Hover Funktion für .button */
    transform: scale(1.06);  /* 107% Größer / problem bei width*/
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.26);
}

.button::before {
    /* Text auf - before .button */
    content: attr(data-text);
    position: absolute;
    bottom: 15%;
    left: 7%; 
    color: #333;
    font-size: 18px;
}

.hover-button {
    position: absolute;
    pointer-events: auto;
    top: 8px;
    right: 8px;
    background-color: #00000038;
    color: #000000;
    padding: 9px 6px;
    border-radius: 100px;
    font-size: 13px;
    cursor: pointer;
    z-index: 2;
    pointer-events: auto; /* Ermöglicht das Klicken auf das Hover-Button */
}

.button:hover .hover-button {
    display: flex;
    transition: transform 0.25s ease, box-shadow 0.2s ease;
}

.hover-button:hover {
    background-color: #cccaca7c;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

/*____________________________________________ Dropdown menü (internet) _________________________________________*/

/* Dropdown-Menü Styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /* Standardmäßig verborgen */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: -35px;
    border-radius: 13px;
}

.dropdown-content.show {
    display: block; /* Wird nur gezeigt, wenn die Klasse .show hinzugefügt wird */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 13px;
}

/* Zeigt das Dropdown-Menü an, wenn die Maus über .hover-button ist */
.hover-button:hover + .dropdown-content {
    display: block; /* Standardmäßiges Anzeigen bei Hover */
}

/* Menü bleibt offen, während Maus darüber ist */
.dropdown-content:hover {
    display: block;
}



/*______________________________________ Icons ________________________________ */

.button.stundenplan::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 5%;
    width: 45px;
    height: 45px; 
    background-image: url('stundenplan.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.button.wochenplan::after {
    content: "";
    position: absolute;
    top: 8%;
    left: 4%;
    width: 50px;
    height: 50px; 
    background-image: url('wochenplan.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.button.aufgaben::after {
    content: "";
    position: absolute;
    top: 12%;
    left: 5%;
    width: 45px;
    height: 45px; 
    background-image: url('aufgaben.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.button.airdrop::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 5%;
    width: 45px;
    height: 45px; 
    background-image: url('airdrop.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.button.bild-teilen::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 5%;
    width: 43px;
    height: 43px; 
    background-image: url('bild-teilen.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.button.gute-nacht::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 5%;
    width: 41px;
    height: 41px; 
    background-image: url('gute-nacht.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.button.break-time::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 5%;
    width: 42px;
    height: 42px; 
    background-image: url('break-time.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.button.nach-hause::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 5%;
    width: 45px;
    height: 45px; 
    background-image: url('nach-hause.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/*____________________________________________________ Farben _________________________________________*/
.stundenplan { background-color: gray; }
.wochenplan { background-color: #af92d4; }
.aufgaben { background-color: #ee756c; }
.airdrop { background-color: #65a6f0; }
.bild-teilen { background-color: #f1bf73; }
.gute-nacht { background-color: #5665aa; }
.break-time { background-color: #dfda55; }
.nach-hause { background-color: #9ad66c; }